

/* Smaller Height */
@media only screen and (max-height : 699px){
	.main-wrapper{padding-top: 10px;}
	#container ul.steps{margin-bottom: 20px;}
	ul.steps-list{margin-top: 10px;}
	#container .center-hldr h6.complete-text{margin-top: 10px;}
	#container .center-hldr.single-center.cong-hldr{padding-bottom: 15px;}
	ul.steps-list li .cnt-hldr .code-txt{margin-top: 10px;}
	ul.steps-list li .cnt-hldr{padding: 5px 0 10px 0;}
	/* MIRI CARD */
	.top-tabs{margin-top: 15px;}
	#main.product .slide-cnt .head{padding-bottom: 10px;}
	#main.product .product-steps{margin-bottom: 10px;}
	#main.product .trans-hldr{padding: 30px 50px;}
	.var-platform .var-platform-lst{margin-top: 30px;}
	#main.product .main-content{margin-top: 5px;}
	/* END MIRI CARD */
}
/* 27-03-2020 */
@media only screen and (max-height : 656px){
	#container ul.steps{
		margin-bottom: 15px;
		margin-top: -25px;
	}
}
/* END 27-03-2020 */
/* Smaller Height */

/* Smaller screens */
@media only screen and (max-width : 1365px){
	/* Login */
	.login-hldr .login-right{
		padding-right: 20px;
		padding-left: 20px;
	}
	.login-hldr .login-left{width: 680px;}
	.login-hldr .login-left .circle-one{
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
	}
	/* END Login */

	/* Main Page */
	.about-sec .abt-right-hldr{overflow: auto;}
	ul.case-lst{
		padding: 20px;
		align-content: flex-start;
	}
	ul.case-lst li{
		width: 50%;
		padding: 0 0 50px 0;
		margin: 0;
	}
	#container .left-hldr{
		padding: 30px 15px;
		width: 300px;
	}
	#container .right-hldr{width: 250px;}
	#container .center-hldr{
		margin: 0 15px 0 10px;
		padding: 30px 20px;
	}
	#container .product-lst li{
		margin-right: 10px;
		width: calc(50% - 5px);
	}
	/* END Main Page */

	/* 07-01-2020 */
	#main.product .card-dtl{left: 0;}
	/* END 07-01-2020 */
}

/* MIRI CARD */
@media only screen and (max-width : 1170px){
	#main.product .slide-mn .ech-slide-mn{width: 95%;}
}
/* END MIRI CARD */