<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>Miri Experience Suite</title>
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/reset.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/owl.carousel.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/owl.theme.default.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery.mCustomScrollbar.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/styles.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/media.css" media="all" />

    <script src="~/Content/js/jquery.min.v1.11.2.js"></script>
    <script src="~/Content/js/instascan.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/webcam.min.js"></script>
    <script src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
    <script src="~/Content/js/script.js"></script>
    <script src="~/Content/js/sweetalert-dev.js"></script>
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
